downloads/

# We only keep the projects configuration in git
TeamCityData/*
!TeamCityData/config/
TeamCityData/config/*
!TeamCityData/config/projects/

.vagrant/

*.box
*.vhd
*.xml.*
*.buildNumbers.properties