downloads/
.idea/
.vagrant/

# We we just the projects configuration in git
TeamCityData/*
!TeamCityData/config/
TeamCityData/config/*
!TeamCityData/config/projects/

*.box
*.vhd
*.xml.*
*.buildNumbers.properties
